* {
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    top: 80px;
}

.Ftitle {
    text-decoration: underline;
}

.title {
    margin-top: 50px;
}


.container {
    max-width: 380px;
    height: 460px;
    border-radius: 8px;
    box-shadow: 0px 2px 2px 4px #cccccc;
    background-color: rgb(231, 235, 238);
    transition: 0.5s;
}

.container .img {
    margin-top: 10px;
    max-width: 100%;
    background-color: gold;
}

.container .img img {
    width: 150px;
    margin-bottom: 5px;
    margin-top: 10px;
    height: 150px;
}

.container:hover {
    position: relative;
    bottom: 5px;
    box-shadow: 0px 5px 5px 7px #cccccc;
}

.container table, table, td {
    font-weight: bold;
    padding: 5px;
    border: 1px solid #85a3bb;
}

.container table, tr {
    border: none;
}